:root {
    --main-text-color: rgba(255, 255, 255, 0.849);
    --sectionBG-colors: rgba(0, 0, 0, 0.89);
    --mainOrange: rgb(255, 123, 0);
    --blurOrange: rgba(151, 77, 8, 0.589);
}

@font-face {
    font-family: georgian;
    src: url(assets/font/bpg_glaho.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: georgian;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainOrange);
    width: 10px;
    border-radius: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 140px;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 100;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.serviceLink {
    cursor: pointer;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    transition: color 0.3s ease;
}

.header-links a:hover {
    color: var(--mainOrange);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%; /* Show below the "სერვისი" link */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
}

.dropdown-menu a {
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: orange;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.header-logo {
    cursor: pointer;
}

.select {
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    outline: none;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 20px;
}

.language-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--main-text-color);
    align-items: center;
    justify-content: center;
}

.number-header {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.section1 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.822);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
    color: var(--main-text-color);
    background-image: url(assets/evacuation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    position: relative;
}

.hours {
    color: var(--mainOrange);
    font-size: xx-large;
}

.main-text-container {
    color: var(--main-text-color);
    z-index: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    transition: 0.6s;
    transform: translateX(-100%);
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.main-text {
    line-height: 2rem;
}

.svgContainer {
    z-index: 2;
    padding: 0;
    transform: translateY(-200px);
    animation: georgiaFade 0.8s forwards;
    opacity: 0;
    transition: 0.6s;
}

@keyframes georgiaFade {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.blur {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.705);
}

.phoneNumber {
    color: var(--mainOrange);
    text-decoration: none;
    z-index: 2;
}

.main-buttons {
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.help {
    color: var(--mainOrange);
}

.main-buttons a {
    width: 170px;
    background-color: rgb(83, 79, 79);
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}

.headingContainer {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.main-buttons a:hover {
    box-shadow: inset 10px 0px 0px var(--mainOrange);
}

.section2 {
    width: 100%;
    height: 1300px;
    background-color: var(--sectionBG-colors);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-text-color);
    gap: 30px;
}

.cards-main-container-service {
    width: 60%;
    height: 1100px;
    overflow: hidden;
}

.card-long {
    width: 770px;
    height: 350px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards-row {
    display: flex;
    flex-direction: row;
}

.card-small {
    height: 350px;
    width: 380px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg1 {
    background-image: url(assets/car.jpg);
}

.bg2 {
    background-image: url(assets/tires.jpg);
}

.bg3 {
    background-image: url(assets/jump.jpg);
}

.bg4 {
    background-image: url(assets/mechanic.jpg);
}

.card-blur {
    width: 100%;
    height: 100%;
    background-color: var(--blurOrange);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
}

.card-blur-long {
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.mechanic-section-main{ 
    background-color: var(--sectionBG-colors);
    width: 100%;
    height: 800px;
    color: white;
}

.cargo-information {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards-row h1 {
    color: var(--main-text-color);
}

.cardsCol {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.service-cards {
    display: flex;
    flex-direction: row;
}

.cardsCol i {
    font-size: xx-large;
}

.card1 {
    background-color: black;
}

.content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.card2 {
    background-color: rgba(253, 114, 0, 0.829);
}

.card3 {
    background-color: gray;
}

.callus {
    color: white;
    text-decoration: none;
}

.small {
    background-color: lightgray;
    opacity: 0;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
    transform: translateY(200px);
}
.comeinAnim {
    opacity: 1;
    transform: translateY(0);
}

.mechanic-section {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.car-services-tab-custom {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.choose-parts-container {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .6s;
}

.choose {
    background-color: rgb(114, 113, 113);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    font-size: small;
}

.car-container {
    position: relative;
    transform: translateX(70%);
    opacity: 0;
    transition: .6s;
}

.carContainerIn {
    opacity: 1;
    transform: translateX(0);
}

.dot {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 100px;
    position: absolute;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.diagnostic {
    top: 190px;
    left: 240px;
    background-image: url(assets/diagnos.png);
}

.engine {
    top: 140px;
    left: 50px;
    background-image: url(assets/engine.png);
}

.tires {
    top: 210px;
    right: 80px;
    background-image: url(assets/tire.png);
}

.battery {
    top: 100px;
    left: 200px;
    background-image: url(assets/batt.png);
}

.shift {
    top: 240px;
    left: 400px;
    background-image: url(assets/shift.png);
}

.oil {
    top: 100px;
    left: 110px;
    background-image: url(assets/oil.png);
}

.car-text-container {
    width: 300px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 0;
    color: black;
}

.orange {
    background-color: orange;
}

.section-cargo {
    width: 100%;
    height: 650px;
    background-color: var(--sectionBG-colors);
}


.cargo-container {
    width: 100%;
    height: 600px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
    color: var(--main-text-color);
}

.cargo-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cargoPic {
    width: 800px;
}

.questions-section {
    width: 100%;
    height: 700px;
    background-color: var(--sectionBG-colors);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.questions-section h1 {
    color: var(--main-text-color);
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .faq-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .faq-question {
    background-color: #f7f7f7;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .faq-question:hover {
    background-color: #e2e2e2;
  }

  .faq-answer {
    background-color: #fff;
    padding: 15px;
    display: none;
  }

  .faq-answer.show {
    display: block;
  }